@page "/wealth"

<PageTitle>Wealth</PageTitle>

<h1>Wealth</h1>

<div class="text-end">
    <button class="btn btn-primary" @onclick="NewItem">New Item</button>
</div>

<div class="mt-3">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Location</th>
                <th>Sublocation</th>
                <th>Active</th>
                <th>Value</th>
                <th>Value in Rupiah</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @if (result != null && result.Count > 0)
            {
                foreach (var datum in result)
                {
                    <tr>
                        <td>@datum.ID</td>
                        <td>@datum.Location</td>
                        <td>@datum.Sublocation</td>
                        <td>
                            @if (datum.Active)
                            {
                                <span class="oi oi-check" style="color: green;" aria-hidden="true" />
                            }
                        </td>
                        <td class="text-end">@datum.Value</td>
                        <td class="text-end">@datum.ValueInRupiah</td>
                        <td class="">
                            <span class="oi oi-pencil" style="cursor:pointer" @onclick="((e) => UpdateItem(e, datum.ID))"
                                aria-hidden="true" />
                            <span class="oi oi-trash" style="cursor:pointer" @onclick="((e) => DeleteItem(e, datum.ID))"
                                aria-hidden="true" />
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td class="text-center" colspan="6">@errorMsg</td>
                </tr>
            }
        </tbody>
    </table>

</div>

@code {
    private int newID = 1;
    private string errorMsg = "";
    List<ResultStruct> result = new List<ResultStruct>();

    public class ResultStruct
    {
        public int ID;
        public string Location = "";
        public string Sublocation = "";
        public bool Active;
        public string Value = "";
        public string ValueInRupiah = "";
    }

    private void NewItem()
    {
        errorMsg = "";

        ResultStruct resultStruct = new ResultStruct();
        resultStruct.ID = newID++;
        resultStruct.Location = "Tokocrypto";
        resultStruct.Sublocation = "ETH";
        resultStruct.Active = false;
        double x = 0.00856369;
        double y = 202052.276;
        resultStruct.Value = $"{x:n7}";
        resultStruct.ValueInRupiah = $"{y:n2}";

        result.Add(resultStruct);
    }

    private void UpdateItem(MouseEventArgs e, int ID)
    {
        Console.WriteLine("update " + ID);
        ResultStruct resultStruct = result.First(x => x.ID == ID);
    }

    private void DeleteItem(MouseEventArgs e, int ID)
    {
        Console.WriteLine("delete " + ID);
        int index = result.FindIndex(x => x.ID == ID);
        result.RemoveAt(index);
    }
}
